<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtgz.xw.api.dao.mapper.CartMapper" >

  <select id="selectByMap" resultType="com.mtgz.xw.api.dao.model.Cart">
    select a.*,
    b.list_pic_url as list_pic_url,
    c.retail_price as retail_product_price
    from nideshop_cart a
    left join nideshop_goods b on a.goods_id = b.id
    left join nideshop_product c on c.goods_id = a.goods_id and c.id = a.product_id
    where 1 = 1
    <if test="user_id != null">
      AND a.user_id = #{user_id}
    </if>
    <if test="goods_id != null">
      AND a.goods_id = #{goods_id}
    </if>
    <if test="product_id != null">
      AND a.product_id = #{product_id}
    </if>
    <if test="checked != null">
      AND a.checked = #{checked}
    </if>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by a.id desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

    <select id="countByMap" resultType="int">
        select count(*) from nideshop_cart a
        where 1 = 1
        <if test="user_id != null">
            AND a.user_id = #{user_id}
        </if>
        <if test="goods_id != null">
            AND a.goods_id = #{goods_id}
        </if>
        <if test="product_id != product_id">
            AND a.product_id = #{product_id}
        </if>
        <if test="checked != null">
            AND a.checked = #{checked}
        </if>
    </select>

  <update id="updateCheck">
    update nideshop_cart
    set `checked` = #{isChecked}
    where product_id in
    <foreach item="product_id" collection="productIds" open="(" separator="," close=")">
      #{product_id}
    </foreach>
    and user_id = #{userId}
  </update>

  <delete id="deleteByProductIds">
    delete from nideshop_cart where product_id in
    <foreach item="id" collection="productIds" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <delete id="deleteByUserAndProductIds">
    delete from nideshop_cart where product_id in
    <foreach item="id" collection="productIds" open="(" separator="," close=")">
      #{id}
    </foreach>
    and user_id = #{user_id}
  </delete>

  <delete id="deleteByCart">
    delete from nideshop_cart
    where  user_id = #{user_id} and  session_id = #{session_id} and  checked = #{checked}
  </delete>

</mapper>