<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtgz.xw.api.dao.mapper.CategoryMapper" >

  <select id="selectByMap" resultType="com.mtgz.xw.api.dao.model.Category">
    select
    <if test="fields != null and fields != ''">
      ${fields}
    </if>
    <if test="fields == null or fields == ''">
      *
    </if>
    from nideshop_category
    where 1 = 1
    <if test="parent_id != null and parent_id != null">
      and parent_id = #{parent_id}
    </if>
    <if test="notName != null and notName != null">
      and 'name' != #{notName}
    </if>
    <if test="ids != null">
      and id in
      <foreach item="item" collection="ids" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id asc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="countByMap" resultType="int">
    select count(*) from nideshop_category
  </select>

</mapper>