<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtgz.xw.api.dao.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.mtgz.xw.api.dao.model.Category" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="keywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="front_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sort_order" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="show_index" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="is_show" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="banner_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="icon_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="img_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wap_banner_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="front_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
</mapper>