<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtgz.xw.api.dao.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.mtgz.xw.api.dao.model.Feedback" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="msg_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="feed_Type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
</mapper>