<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtgz.xw.api.dao.mapper.UserCouponMapper" >

  <select id="queryByCouponNumber" resultType="com.mtgz.xw.api.dao.model.UserCoupon">
    select * from nideshop_user_coupon where coupon_number = #{coupon_number}
  </select>

  <select id="selectByMap" resultType="com.mtgz.xw.api.dao.model.UserCoupon">
    select a.* from nideshop_user_coupon a
    left join nideshop_coupon b on b.id = a.coupon_id
    where 1 = 1
    <if test="coupon_number != null">
      and a.coupon_number = #{coupon_number}
    </if>
    <if test="user_id != null">
      and a.user_id = #{user_id}
    </if>
    <if test="send_type != null">
      and b.send_type = #{send_type}
    </if>
    <if test="referrer != null">
      and a.referrer = #{referrer}
    </if>
    <if test="source_key != null">
      and a.source_key = #{source_key}
    </if>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="countByMap" resultType="int">
    select count(*) from nideshop_user_coupon
  </select>

</mapper>